# .env로 변환하여 사용

# 1. HuggingFace 업로드용
HF_TOKEN=""
HF_TEAM_NAME = ""
HF_PROJECT_NAME = ""
UPLOAD_MODEL_NAME = "1115-fubao-exaone3.0-base-v1" # 날짜-이름-베이스모델-사용데이터셋-버전
USERNAME = ""
CHECKPOINT_PATH="../outputs/checkpoint-9999"

# 2. Elasticsearch 세팅
ELASTICSEARCH_URL="http://localhost:9200"
ELASTICSEARCH_ID=""
ELASTICSEARCH_PW=""
